<h1>{{titleApp}}</h1>
<hr>
<div class="row">
  <div class="col">
    <h3>Players</h3>
    <hr>
    <ul>
      <li>Juanitaco - 500</li>
      <li>Belduque - 450</li>
      <li>PutoMeza - 421</li>
      <li>Ospe - 328</li>
    </ul>
  </div>
  <div class="col">
    <h3>Add Player</h3>
    <hr>
    <small>{{newPlayer.userName}}</small><br>
    <small>{{newPlayer.level}}</small>
    <form (ngSubmit)="add()">
      <input type="text" placeholder="User name" name="userName" [(ngModel)]="newPlayer.userName">
      <input type="number" placeholder="Level" name="level" [(ngModel)]="newPlayer.level">
      <button class="btn">Add Player</button>
    </form>
  </div>
</div>
